<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UNAM</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <h1>Registros Guardados:</h1>
    <ul>
        <!-- Jinja2 -->
        {% for persona in personas %}
        <li>{{persona.nombre}} {{persona.apellido}}  -  {{persona.email}}</li>
        {% endfor %}

        {% for persona in personas %}
        <li>{{persona.nombre}} {{persona.apellido}}  -  {{persona.email}}</li>
        {% endfor %}

    </ul>
    <a href="{{ url_for('main.index') }}" class="boton" >Inicio</a>
</body>
</html>